<div [@routerTransition]>
  <br>
  <h2 class="text-muted">
    &nbsp;&nbsp;Manage document
    <!-- <small>Servicebox Overview</small> -->
  </h2>
  <div class="container">

      <div class="card-body table-responsive table-hover">
        <div class="col-sm-12 col-md-12 text-right">
          <a [routerLink]="['/managedocument/managedocument-form']" class="btn btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;New
          </a>
        </div>
        <br>
    
        <div class="card mb-3">
          <div class="card-header">
              Manage document
          </div>
          
         


        </div>
      </div>
      </div>

     
    
  
</div>