

<div [@routerTransition]>
  <br>
  <h2 class="text-muted">
    &nbsp;&nbsp;Manage Book
    <!-- <small>Servicebox Overview</small> -->
  </h2>
  <div class="container">

 <aw-wizard>
  <aw-wizard-step stepTitle="Title of step 1">
<br>
    Content of Step 1
    <button type="button" awNextStep class="btn btn-primary">Next</button>
    <button type="button" [awGoToStep]="{stepIndex: 2}" class="btn btn-primary">Last</button>

      <div class="card-body table-responsive table-hover">
          <div class="card mb-3">
            <div class="card-header">
                Gerneral Information
            </div>
          <div class="animated fadeIn">
          <div class="row">
            <div class="col-md-12">
              <h2></h2>
              <div class="fh5co-spacer fh5co-spacer-sm"></div>
              <form >
                <br>

                <div class="row">
                  <div class="col-md-2 text-right">
                    <div class="form-group">
                      <label class="col-form-label">Title</label>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Title..." name="name" >
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                      <div class="form-group">
                        <label class="col-form-label">Keyword</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Keyword..." name="name" >
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                      <div class="form-group">
                        <label class="col-form-label">Collection</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                        <div class="radio">
                                <label>
                                    <input type="radio" value=""> Checkbox 1
                                </label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>
                                    <input type="radio" value=""> Checkbox 1
                                </label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>
                                    <input type="radio" value=""> Checkbox 1
                                </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                      <div class="form-group">
                        <label class="col-form-label">Department/Author</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                          <div class="radio">
                              <label>
                                  <input type="radio" value=""> Checkbox 1
                              </label>
                          </div>
                          <div class="radio">
                              <label>
                                  <input type="radio" value=""> Checkbox 2
                              </label>
                          </div>
                          <div class="radio">
                              <label>
                                  <input type="radio" value=""> Checkbox 3
                              </label>
                          </div>
                          <div class="radio">
                              <!-- <label>
                                  <input type="checkbox" value=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  <input type="text" class="form-control" placeholder="Name" name="name" >
                              </label> -->
                              <label class="radio-inline"><input type="radio" name="optradio">Author &nbsp;</label><input type="text" class="form-control" placeholder="Name" name="name" >
                          </div>
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                      <div class="form-group">
                        <label class="col-form-label">Introduction/Abstract</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                          <textarea rows="4" cols="80">
                              
                          </textarea>
                      </div>
                    </div>
                </div>
                
                
              </form>
            </div>
          </div>
        </div>
    </div>
    
  </div>
<br>
    Content of Step 1
    <button type="button" awNextStep class="btn btn-primary">Next</button>
    <button type="button" [awGoToStep]="{stepIndex: 2}" class="btn btn-primary">Last</button>
  </aw-wizard-step>
  <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <aw-wizard-step stepTitle="Title of step 2" awOptionalStep>

    Content of Step 2    
    <button type="button" awNextStep class="btn btn-primary">Next</button>
    <button type="button" awPreviousStep class="btn btn-primary">Back</button>
      <div class="card-body table-responsive table-hover">
          <div class="card mb-3">
            <div class="card-header">
                Gerneral Information
            </div>
          <div class="animated fadeIn">
          <div class="row">
            <div class="col-md-12">
              <h2></h2>
              <div class="fh5co-spacer fh5co-spacer-sm"></div>
              <form >
                <br>

                <div class="row">
                  <div class="col-md-2 text-right">
                    <div class="form-group">
                      <label class="col-form-label">Title</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="date" class="form-control" placeholder="Name" name="name" >
                    </div>
                  </div>
                  <div class="col-md-1 text-right">
                      <div class="form-group">
                        <label class="col-form-label">Title</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="date" class="form-control" placeholder="Name" name="name" >
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                      <div class="form-group">
                        <label class="col-form-label">Country</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                        <div class="radio">
                          <div class="col-md-4">
                                <label>
                                    <input type="radio" value="">&nbsp;Cambodia
                                </label>
                          </div>
                          <div class="col-md-4">
                              <label>
                                  <input type="radio" value="">&nbsp;China
                              </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <input type="radio" value="">&nbsp;Lao PDR
                            </label>
                      </div>
                      <div class="col-md-4">
                          <label>
                              <input type="radio" value="">&nbsp;Myanmar
                          </label>
                    </div>
                    <div class="col-md-4">
                        <label>
                            <input type="radio" value="">&nbsp;Thailand
                        </label>
                  </div>
                  <div class="col-md-4">
                      <label>
                          <input type="radio" value="">&nbsp;Vietnam
                      </label>
                </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                      <div class="form-group">
                        <label class="col-form-label">Other</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                          <select class="form-control" id="sel1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                      </div>
                    </div>
                  </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                      <div class="form-group">
                        <label class="col-form-label">Referance link</label>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="WWW." name="name" >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-md-2 text-right">
                        <div class="form-group">
                          <label class="col-form-label">Attachment file</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="file" class="form-control" placeholder="WWW." name="name" >
                        </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-2 text-right">
                        <div class="form-group">
                          <label class="col-form-label">Frame picture</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="file" class="form-control" placeholder="WWW." name="name" >
                        </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-2 text-right">
                        <div class="form-group">
                          <label class="col-form-label">Topic</label>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                            <div class="radio" *ngFor="let value of topic ; let i = index;">
                                <label><input type="radio" name="optradio">&nbsp;{{value.topic_name}}</label>
                            </div>
      

                        </div>
                      </div>
                  </div>
                
                
              </form>
            </div>
          </div>
        </div>
    </div>
    
  </div>
<br>
    Content of Step 2    
    <button type="button" awNextStep class="btn btn-primary">Next</button>
    <button type="button" awPreviousStep class="btn btn-primary">Back</button>

    
  </aw-wizard-step>
  <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <aw-wizard-step stepTitle="Title of step 3">

    Content of Step 3
    <button type="button" awPreviousStep class="btn btn-primary">Back</button>
    <button type="button" (click)="finishFunction()" class="btn btn-primary">Next</button>
      <div class="card-body table-responsive table-hover">
          <div class="card mb-3">
            <div class="card-header">
                Gerneral Information
            </div>
          <div class="animated fadeIn">
          <div class="row">
            <div class="col-md-12">
              <h2></h2>
              <div class="fh5co-spacer fh5co-spacer-sm"></div>
              <form >
                <br>

                <div class="row">
                  <div class="col-md-2 text-right">
                    <div class="form-group">
                      <label class="col-form-label">Access Authority</label>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      
                        <label class="radio-inline" style="padding-right:40px;">
                          <input type="radio" name="optradio">&nbsp;Free Access
                        </label>
                        <label class="radio-inline" style="padding-right:40px;">
                          <input type="radio" name="optradio">&nbsp;Access by Login
                        </label>
                        <label class="radio-inline" style="padding-right:40px;">
                          <input type="radio" name="optradio">&nbsp;Read Only
                        </label>
                        <label class="radio-inline" style="padding-right:40px;">
                            <input type="radio" name="optradio">&nbsp;None
                          </label>

                    </div>
                  </div>
                </div>

                   <div class="col-md-12 text-center">
                    <div class="form-group">
                      <button type="submit" class="btn btn-success">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save
                      </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="" class="btn btn-danger">
                          <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Cancel
                      </button>
                    </div>
                  </div> 

                
              </form>
            </div>
          </div>
        </div>
    </div>
    
  </div>
    Content of Step 3
    <button type="button" awPreviousStep class="btn btn-primary">Back</button>
    <button type="button" (click)="finishFunction()" class="btn btn-primary">Next</button>
  </aw-wizard-step>
</aw-wizard>


  </div>
  
</div>