<div [@routerTransition]>
  
  <h2 class="text-muted">
    &nbsp;&nbsp;Manage collection
    <!-- <small>Servicebox Overview</small> -->
  </h2>
  <br>

  <div class="container">
    <h3>Collection list</h3>
    
    <table class="table table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Collection name</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let client of clients">
          <td>{{client.firstName}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.company}}</td>
        </tr> -->
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>