<div [@routerTransition]>
  

    <div class="card-body table-responsive table-hover">
        <br>
        <div class="card mb-3">
          <div class="card-header">
              Manage collection
          </div>
        <div class="animated fadeIn">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2></h2>
            <div class="fh5co-spacer fh5co-spacer-sm"></div>
            <form  #i="ngForm" (ngSubmit)="onSubmit(i)">
              <br>
              <div class="row">
      
                <div class="col-md-2 text-right">
                  <div class="form-group">
                    <label class="col-form-label">Name</label>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="collection_name" ngModel="{{ value.collection_name }}">
                  </div>
                </div>
      
                <div class="col-md-12 text-right">
                  <div class="form-group">
                    <input type="hidden" name="id" ngModel="{{ value.id }}">
                    <button type="submit" class="btn btn-success">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save
                    </button>
                  </div>
                </div>
      
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  
</div>